    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/trinotate-web.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    <TMPL_VAR NAME="ONLOAD_JS">
    });
    </script>
  </body>
</html>
