              <div role="tabpanel" class="tab-pane active" id="overview">
                <h3>Overview</h3>
                <p><TMPL_VAR NAME="GENE_COUNT"> genes and <TMPL_VAR NAME="TRANSCRIPT_COUNT"> transcripts</p>
                <p><a href="http://trinotate.sf.net/TrinotateWeb.html">Trinity Web Documentation</a></p>
                <p><a href="http://trinityrnaseq.sourceforge.net/">Trinity Documentation</a></p>
              </div>
