 <div role="tabpanel" class="tab-pane" id="ann">
   <h3>Annotation graph</h3>
   <div class="well well-sm">
     <TMPL_VAR NAME="TAXONOMY_HTML">
   </div>
   <a href="html/Trinotate_report_stats.cXp_summary.html">annotation graph</a><br>

<iframe border="0" frameborder="0" 
    width="1235"
    height="800"
   src="html/Trinotate_report_stats.cXp_summary.html"></iframe>  </div>