              <div role="tabpanel" class="tab-pane" id="keyword-search">
                <h3>Annotation Keyword Search</h3>
                <form class="search-form" action="keyword_search.cgi">
                  <input type="hidden" class="sqlite" name="sqlite"/>
                  <label>
                    Text search of transcript annotations:
                    <input name="keyword" type="text" class="form-control" placeholder="Keyword..."/>
                  </label>
                  <input type="submit" value="Search"/>
                </form>
                <hr/>
              </div>
