              <div role="tabpanel" class="tab-pane" id="gene-search">
                <h3>Gene or Transcript ID Search</h3>
                <form class="search-form" action="feature_report.cgi" target="win_gene_search_result">
                  <input type="hidden" class="sqlite" name="sqlite"/>
                  <label>
                    Gene or Transcript Identifier to Feature Report:
                    <input name="feature_name" type="text" class="form-control" placeholder="Gene or Transcript ID..."/>
                  </label>
                  <input type="submit" value="Search"/>
                </form>
              </div>
