 <div role="tabpanel" class="tab-pane" id="go">
      <h3>Gene Ontology Plot</h3>
         Limited to GO-Slim terms [not_cached]
         <div class="well well-sm">
               <TMPL_VAR NAME="go_var">
         </div>
 </div>
