       <div role="tabpanel" class="tab-pane" id="Topsp">
                <h3>Kegg Plot</h3>
                [not_cached]
                 <div class="well well-sm">
                       <TMPL_VAR NAME="kegg">
                 </div>
                
              </div>
