              <div role="tabpanel" class="tab-pane active" id="overview">
                <h3>Overview</h3>
                <p><TMPL_VAR NAME="GENE_COUNT"> genes and <TMPL_VAR NAME="TRANSCRIPT_COUNT"> transcripts</p>
                <p><a href="http://trinotate.github.io/" target="_TrinotateDoc">Trinity Web Documentation</a></p>
                <p><a href="http://trinityrnaseq.github.io/" target="_TrinityDoc">Trinity Documentation</a></p>
              </div>
