 <div role="tabpanel" class="tab-pane" id="pfamid">
                <h3>Pfam Plot</h3>
                 <div class="well well-sm">
                       <TMPL_VAR NAME="pfam_var">
                 </div>
                
              </div>