              <div role="tabpanel" class="tab-pane" id="TaxonomyBH">
                <h3>Taxonomy of SwissProt Best Hits</h3>
                 <div class="well well-sm">
                       <TMPL_VAR NAME="TAXONOMY_HTML">
                 </div>
                
              </div>
