    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trinotate Web for Annotation and Expression Analysis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="topnav" class="nav navbar-nav nav-tabs" role="tablist" data-active-tab="<TMPL_VAR NAME="ACTIVETAB">" data-sqlite="<TMPL_VAR NAME="SQLITE_DB">">
            <li role="presentation"><a href="#overview" aria-controls="overview" role="tab">Overview</a></li>
            <li role="presentation"><a href="#keyword-search" aria-controls="keyword_search" role="tab">Annotation Keyword Search</a></li>
            <li role="presentation"><a href="#gene-search" aria-controls="gene_search" role="tab">Gene or Transcript ID Search</a></li>
            <li role="presentation"><a href="#DE" aria-controls="DE" role="tab">Differential Expression</a></li>
            <li role="presentation"><a href="#TaxonomyBH" aria-controls="TaxonomyBH" role="tab">Taxonomy of BH</a></li>
		 </ul>
        </div>
      </div>
    </nav>
